In [4]:
import pandas as pd
from pathlib import Path

## Read Csv

In [3]:
filepath=\
Path('../../datasets/Ch2/movieboxoffice.csv')

In [4]:
ts = pd.read_csv(filepath, header=0, parse_dates=['Date'],
                 index_col =0,
                 infer_datetime_format=True,
                 usecols=['Date',
                          'DOW',
                         'Daily',
                         'Forecast',
                         'Percent Diff'])
ts.head(5)

                 DOW         Daily      Forecast Percent Diff
Date
2021-04-26    Friday  $125,789.89   $235,036.46       -46.48%
2021-04-27  Saturday   $99,374.01   $197,622.55       -49.72%
2021-04-28    Sunday   $82,203.16   $116,991.26       -29.74%
2021-04-29    Monday   $33,530.26    $66,652.65       -49.69%
2021-04-30   Tuesday   $30,105.24    $34,828.19       -13.56%

In [7]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    object
 2   Forecast      128 non-null    object
 3   Percent Diff  128 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

In [12]:
ts.memory_usage().sum()

5120

## Read excel

In [5]:
filepath=\
Path('../../datasets/Ch2/sales_trx_data.xlsx')

In [7]:
excelfile= pd.ExcelFile(filepath)
excelfile.sheet_names

['2017', '2018']

In [9]:
ts=pd.read_excel(filepath,
                 engine='openpyxl',
                 index_col=1,
                 sheet_name =None,
                 parse_dates=True)

ts.keys()

dict_keys(['2017', '2018'])

In [11]:
ts['2017'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36764 entries, 2017-01-01 to 2017-12-31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Line_Item_ID        36764 non-null  int64
 1   Credit_Card_Number  36764 non-null  int64
 2   Quantity            36764 non-null  int64
 3   Menu_Item           36764 non-null  object
dtypes: int64(3), object(1)
memory usage: 1.4+ MB

In [12]:
ts_combined=pd.concat([ts['2017'],ts['2018']])
ts_combined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74124 entries, 2017-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Line_Item_ID        74124 non-null  int64
 1   Credit_Card_Number  74124 non-null  int64
 2   Quantity            74124 non-null  int64
 3   Menu_Item           74124 non-null  object
dtypes: int64(3), object(1)
memory usage: 2.8+ MB

In [13]:
ts_combined = pd.concat(ts).droplevel(level=0)
ts_combined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74124 entries, 2017-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Line_Item_ID        74124 non-null  int64
 1   Credit_Card_Number  74124 non-null  int64
 2   Quantity            74124 non-null  int64
 3   Menu_Item           74124 non-null  object
dtypes: int64(3), object(1)
memory usage: 2.8+ MB

In [21]:
excelfile = pd.ExcelFile(filepath)
ts=excelfile.parse(sheet_name='2017',
                index_col=1,
                parse_dates=True)
ts.head()

            Line_Item_ID  Credit_Card_Number  Quantity             Menu_Item
Date
2017-01-01             1    7437926611570790         1      spicy miso ramen
2017-01-01             2    7437926611570790         1      spicy miso ramen
2017-01-01             3    8421920068932810         3     tori paitan ramen
2017-01-01             4    8421920068932810         3     tori paitan ramen
2017-01-01             5    4787310681569640         1  truffle butter ramen

## Read url

In [22]:
url='https://raw.githubusercontent.com/PacktPublishing/Time-Series-Analysis-with-Python-Cookbook/main/datasets/Ch2/AirQualityUCI.csv'

date_parser = lambda x: pd.to_datetime(x, format="%d/%m/%Y")
df = pd.read_csv(url, delimiter=';',
                 index_col='Date',
                 date_parser=date_parser)

df.iloc[:3,1:4]

            CO(GT)  PT08.S1(CO)  NMHC(GT)
Date
2004-03-10     2.6      1360.00       150
2004-03-10     2.0      1292.25       112
2004-03-10     2.2      1402.00        88

## Read Data from HTML

In [25]:
url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory"
results = pd.read_html(url)
print(len(results))

69

In [28]:
df=results[15]
df.columns

Index(['Region[29]', 'Total cases', 'Total deaths', 'Cases per million',
       'Deaths per million', 'Current weekly cases', 'Current weekly deaths',
       'Population millions', 'VaccinatedÂ %[30]'],
      dtype='object')

In [31]:
df[['Total cases', 'Total deaths', 'Cases per million']].head()

   Total cases  Total deaths  Cases per million
0    179537758       1185108             401363
1    103783777       1133607             281404
2     57721948        498259             247054
3     65835789       1313061             153151
4     25646533        434988             108307

## Read sas dataset

In [33]:
path = '../../datasets/Ch2/DCSKINPRODUCT.sas7bdat' ##can be large data

df= pd.read_sas(path, chunksize=10000)
type(df)

pandas.io.sas.sas7bdat.SAS7BDATReader

In [34]:
results=[]
for chunk in df:
    results.append(chunk)
    
len(results)

16

In [35]:
df = pd.concat(results)
df.shape

(152130, 5)

In [36]:
df= pd.read_sas(path, chunksize=10000)
results=[]
for chunk in df:
    results.append(chunk.groupby('DATE')['Revenue']
     .agg(['sum', 'count']))
    
len(results)

16

In [38]:
results[0].loc['2013-02-10']

sum      923903.0
count        91.0
Name: 2013-02-10 00:00:00, dtype: float64

In [41]:
from functools import reduce ## reduce when data is not ordered. or sorted
final = reduce(lambda x1, x2: x1.add(x2, fill_value=0),results)
type(final)

pandas.core.frame.DataFrame

In [42]:
final.loc['2013-02-10']

sum      43104420.0
count        1383.0
Name: 2013-02-10 00:00:00, dtype: float64

In [43]:
final.shape

(110, 2)